.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100vw;
  padding: 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0px;
  z-index: 50;
  background-color: #ffffff;
}

.navbarWrapper a{
  all: unset;
  cursor: pointer;
}

.navbarHeading {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.navbarHamburger {
  color: #37c976;
  cursor: pointer;
  font-size: 24px;
  stroke-width: 0.6px;
}

@media only screen and (max-width: 768px) {
  .navbarHamburger {
    display: none;
  }
  .navbarWrapper {
    padding: 10px;
  }
}
